.gallery {
  display: flex;
  padding: 3rem 3rem;
  background-color: white;
  position: relative;
  justify-content: center;
}

.gallery img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.gallery img:hover {
  transform: translateY(-4px);
}
.gallery .container {
  padding: 0;
}

.keke {
  display: flex;
  flex-direction: column;
}

.read-more {
  margin-top: 6px;
  a {
    text-decoration: underline;
    &:hover {
      opacity: 0.8 !important;
      color: black !important;
    }
  }
}
