.navbar {
  padding: 0rem 3rem;
  display: flex;
  justify-content: space-between;
  height: 8vh;
}
.n-left {
  align-items: center;
}
.n-right {
  color: white;
  display: flex;
  gap: 2;
}
.n-right > ul {
  cursor: pointer;
  gap: 2rem;
  list-style: none;
  display: flex;
  text-transform: uppercase;
  position: relative;
  font-weight: bold;
  align-items: center;
}

.seperate::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 1.1rem;
  background-color: gray;
  top: 20%;
  left: 87%;
  cursor: default;
}
.cart {
  margin-top: 2px;
}
.search {
  margin-top: 2px;
  margin-left: -10px;
}
