.shopdetail {
  background-color: white;
  width: 100%;
  height: 130%;
  padding: 2rem;
}

.shopdetail-l-img img {
  width: 100%;
}
.wrap-col {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  position: relative;
}
.wrap-col::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--seperate-darker);
  top: 110%;
  left: 0;
  cursor: default;
}
.shopdetail-r-name {
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
}
.shopdetail-r-price {
  font-size: 2rem;
  font-weight: bold;
  color: var(--label);
  text-transform: uppercase;
}
.shopdetail-r-desc {
  font-size: 1rem;
  line-height: 26px;
  color: var(--text);
  font-weight: 400;
}

.shop-detail-r-quan {
  display: flex;
  position: relative;
  align-items: center;
  font-size: 2rem;
  gap: 1rem;
  margin-top: 2rem;
  width: 80%;
}
.shop-detail-r-quan::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--seperate-darker);
  top: 150%;
  left: 0;
  cursor: default;
}

.shop-detail-r-input {
  width: 4rem;
  background-color: #eae7de;
  border: none;
  padding: 2px 1rem;
  text-align: center;
}
.shop-detail-r-addcart {
  font-size: 1rem;
  background-color: var(--label);
  padding: 1rem 3rem;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.shop-detail-r-addcart:hover {
  background-color: black;
}

.shop-detail-r-dec:hover {
  color: var(--label);
  cursor: pointer;
}
.shop-detail-r-in:hover {
  color: var(--label);
  cursor: pointer;
}
.shop-detail-r-category {
  display: flex;
  gap: 1rem;
  margin-top: 5%;
  align-content: center;
}
.shop-detail-r-category p {
  font-weight: bold;
  font-size: 18px;
}
.shop-detail-r-tag {
  display: flex;
  gap: 1rem;
  width: 80%;
  position: relative;
}
.shop-detail-r-tag p {
  font-weight: bold;
  font-size: 18px;
}
.shop-detail-r-tag:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--seperate-darker);
  top: 100%;
  left: 0;
  cursor: default;
}
.shop-detail-r-social {
  display: flex;
  gap: 1rem;
  margin-top: 2%;
  text-align: center;
}
.shop-detail-r-social p {
  font-weight: bold;
  font-size: 18px;
}

.shopdetail-reviews {
  margin-top: 10%;
  position: relative;
}
.shopdetail-reviews label {
  font-size: 18px;
  font-weight: bold;
}
.shopdetail-reviews::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--seperate-darker);
  top: 120%;
  left: 0;
  cursor: default;
}
.shopdetail-related {
  margin-top: 8%;
  cursor: pointer;
}
.shopdetail-related .row {
  display: flex;
}
.wrap-related-item {
  img {
    width: 100%;
    height: 100%;
  }
  label {
    font-weight: bold;
    font-size: 1rem;
    text-transform: uppercase;
  }
  p {
    font-size: 1rem;
    color: var(--label);
  }
}
