:root {
  --label: #c7a17a;
  --text: ##666666;
}

.App {
  background-image: url("../src/img/homebackground.jpg");
  width: 100%;
  height: 100%;
  position: fixed;
  background-position: 0 0;
  padding: 0 3rem;
  overflow: hidden;
  overflow-y: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

ul {
  padding: 0;
  margin: 0;
}
